<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PROWRENCH - Auto service in Wichita, Kansas</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
  </head>

  <body>
    <div id="app" class="container mx-auto pt-12 mb-12">
      <h3 class="text-center text-xl font-bold">Serving Wichita Metro Area</h3>
      <h1 class="font-display text-center text-4xl mb-4 text-primary">
        <img
          class="inline-block"
          src="prowrench.svg"
          alt="PROWRENCH"
          title="LOGO"
        /><span class="sr-only hidden">PROWRENCH Auto Service </span>
      </h1>
      <p class="mb-16 text-center flex items-center justify-center">
        <svg
          class="w-4 h-4 mr-1 text-red-800"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        <strong class="text-red-800 font-display leading-none"
          ><small
            ><a href="tel:3165553928" class="underline hover:no-underline"
              >Call (316) 555-3928 for emergencies</a
            ></small
          ></strong
        >
      </p>
      <div class="flex mb-6">
        <div class="sidebar">
          <div class="py-4 px-6 bg-brand-gray">
            <h3 class="font-display mb-2">Vehicle Type</h3>
            <ul>
              <li
                @click="activeCategorySlug = 'car'"
                :class="{ 'active' : activeCategorySlug === 'car' }"
              >
                <a href="#car">Car</a>
              </li>
              <li
                @click="activeCategorySlug = 'truck'"
                :class="{ 'active' : activeCategorySlug === 'truck' }"
              >
                <a href="#truck">Truck</a>
              </li>
              <li
                @click="activeCategorySlug = 'suv'"
                :class="{ 'active' : activeCategorySlug === 'suv' }"
              >
                <a href="#suv">SUV</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="primary ml-6 w-full">
          <ul class="service-list flex flex-wrap px-8">
            <li
              v-for="service in activeCategory"
              @click="service.selected = !service.selected"
              :class="{ 'active' : service.selected }"
            >
              <span class="price">${{ service.cost }}</span>
              <span class="label">{{ service.label }}</span>
              <svg
                v-if="service.selected"
                class="selected"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.3345 0.000183105H5.66549C2.26791 0.000183105 0.000488281 2.43278 0.000488281 5.91618V14.0842C0.000488281 17.5709 2.26186 20.0002 5.66549 20.0002H14.3335C17.7381 20.0002 20.0005 17.5709 20.0005 14.0842V5.91618C20.0005 2.42969 17.7383 0.000183105 14.3345 0.000183105ZM5.66549 1.50018H14.3345C16.885 1.50018 18.5005 3.23515 18.5005 5.91618V14.0842C18.5005 16.7653 16.8849 18.5002 14.3335 18.5002H5.66549C3.11525 18.5002 1.50049 16.7655 1.50049 14.0842V5.91618C1.50049 3.23856 3.12083 1.50018 5.66549 1.50018ZM14.0904 7.09685C13.7975 6.80396 13.3226 6.80396 13.0297 7.09685L8.81306 11.312L6.97021 9.4697L6.88607 9.3971C6.59241 9.1793 6.17576 9.2036 5.90955 9.47C5.61671 9.7629 5.61681 10.2378 5.90977 10.5306L8.28376 12.9036L8.36786 12.9762C8.66146 13.194 9.07806 13.1697 9.34436 12.9035L14.0904 8.1575L14.163 8.0734C14.3808 7.77978 14.3566 7.36312 14.0904 7.09685Z"
                  fill="#419A5A"
                />
              </svg>
            </li>
          </ul>

          <hr class="mb-4" />

          <div class="text-right mb-4 pr-8">
            <p>Estimated repair costs ${{ estimatedRepairCost }}</p>
            <small class="font-display text-xs text-gray-500"
              >Prices vary based on vehicle</small
            >
          </div>
          <div class="flex justify-end items-center pr-6">
            <a
              href="#start-form"
              class="hover-up bg-gray-400 text-white px-6 py-4 ml-4 text-center flex items-center justify-center"
            >
              <svg
                class="w-6 h-6 mr-1"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 13l-7 7-7-7m14-8l-7 7-7-7"
                ></path>
              </svg>
              Schedule your repair
            </a>
          </div>
        </div>
      </div>
      <hr class="mb-8" />
      <section class="py-4 mb-8 bg-gray-100 overflow-hidden md:py-12 lg:py-12">
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <svg
            class="absolute top-full right-full transform translate-x-1/3 -translate-y-1/4 lg:translate-x-1/2 xl:-translate-y-1/2"
            width="404"
            height="404"
            fill="none"
            viewBox="0 0 404 404"
            role="img"
            aria-labelledby="svg-prowrench-background"
          >
            <title id="svg-prowrench-background">PROWRENCH</title>
            <defs>
              <pattern
                id="ad119f34-7694-4c31-947f-5c9d249b21f3"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-gray-400"
                  fill="currentColor"
                />
              </pattern>
            </defs>
            <rect
              width="404"
              height="404"
              fill="url(#ad119f34-7694-4c31-947f-5c9d249b21f3)"
            />
          </svg>

          <div class="relative">
            <blockquote class="mt-6">
              <div
                class="max-w-3xl mx-auto text-center text-xl leading-9 font-medium text-gray-900"
              >
                <p class="italic">
                  &ldquo;It took me <span class="underline">forever</span> to
                  find someone who would help me rebuild my 1988 Camry. Gabe has
                  been super helpful guiding me through the process of sourcing
                  parts and prioritizing purchases.&rdquo;
                </p>
              </div>
              <div class="mt-8">
                <div class="md:flex md:items-center md:justify-center">
                  <div class="md:flex-shrink-0">
                    <img
                      class="mx-auto h-20 w-20 rounded-full"
                      src="camry-testimonial.png"
                      alt=""
                    />
                  </div>
                  <div
                    class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center"
                  >
                    <div class="text-base font-medium text-gray-900">
                      Jake Jacobson
                    </div>

                    <svg
                      class="hidden md:block mx-1 h-5 w-5 text-green-600"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path d="M11 0h3L9 20H6l5-20z" />
                    </svg>

                    <div class="text-base font-medium text-gray-500">
                      <span class="font-display">Spring 2021</span>
                    </div>
                  </div>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </section>

      <hr class="mb-8" />
      <form class="bg-brand-gray py-9 px-8">
        <h3 class="text-3xl font-display mb-3 text-gray-400">
          Request a Service Advisor
        </h3>
        <p class="mb-6 font-black text-sm w-2/3" id="start-form">
          Tell us about the vehicle and how we may reach back out to you.
        </p>
        <div class="flex justify-between">
          <div class="w-1/2 pr-4">
            <label>Name <input type="text" v-model="form.name" /></label>
            <label>Email <input type="email" v-model="form.email" /></label>
            <label>Phone <input type="tel" v-model="form.phone" /></label>
          </div>
          <div class="w-1/2 pl-4">
            <label
              >Vehicle <small class="text-gray-600">(Year/Make/Model)</small>
              <input type="text" v-model="form.vehicle"
            /></label>
            <label
              >Upload existing worksheet
              <small class="text-gray-600">(optional)</small>
              <input type="file"
            /></label>
            <label
              >Select a dropoff date
              <small class="text-gray-600">(optional)</small>
              <input type="date" :min="today" v-model="form.dropoff"
            /></label>
          </div>
        </div>
        <label for="comments">Notes for service advisor</label>
        <textarea
          id="comments"
          v-model="form.notes"
          class="w-full mb-6"
        ></textarea>
        <hr class="mb-6" />
        <label class="mb-0 text-right">Services requested</label>
        <p class="text-xs text-right" v-if="selectedServices.length === 0">
          None selected
        </p>
        <ul class="block mb-8 text-right">
          <li
            class="inline mr-3 text-xs"
            v-for="service in selectedServices"
            :key="service.label"
          >
            {{ service.label }}
          </li>
        </ul>
        <div class="text-right mb-4">
          <p>Estimated repair costs ${{ estimatedRepairCost }}</p>
        </div>
        <div class="flex justify-end items-center">
          <i class="fa fa-sync-alt fa-spin" v-show="isFormSubmitting"></i>
          <i class="fa fa-check-circle" v-show="successfullySubmitted"></i>
          <button
            type="button"
            :disabled="isFormSubmitting"
            @click="submitForm"
            class="mb-2 bg-primary hover:shadow-xl hover:underline text-white px-6 py-4 ml-4 text-center flex items-center justify-center"
            :class="{ 'disabled' : isFormSubmitting }"
          >
            <svg
              class="w-6 h-6 mr-1"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
              ></path>
            </svg>
            Send my request
          </button>
        </div>
        <div class="text-right flex justify-end">
          <small class="w-1/3"
            >By submitting you agree to being contacted by a
            representative.</small
          >
        </div>
      </form>
    </div>

    <footer class="py-8 px-6">
      <div class="container mx-auto flex justify-between">
        <div>
          <p class="text-white font-bold visibility-shadow">
            ©2021 Copyright PROWRENCH
          </p>
          <p>
            <a
              class="text-white underline visibility-shadow mr-3"
              href="#privacy"
              >Privacy</a
            >
            <a class="text-white underline visibility-shadow" href="#terms"
              >Terms of Service</a
            >
          </p>
        </div>
        <div>
          <p class="text-white text-right font-bold visibility-shadow">
            Contact us directly
          </p>
          <a
            class="flex underline items-center text-white visibility-shadow"
            href="mailto:service@prowrench.net"
          >
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.20985 17.7325L15.1975 13.8373M8.20985 17.7325L10.8449 26.5674L22.1852 9.94222L2.0809 10.8451L8.20985 17.7325Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            service@prowrench.net
          </a>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      const vm = new Vue({
        el: "#app",
        computed: {
          activeCategory() {
            return this.categories[this.activeCategorySlug];
          },
          today() {
            return new Date().toISOString().split("T")[0];
          },
          selectedServices() {
            if (!this.activeCategorySlug) {
              return [];
            }

            return this.categories[this.activeCategorySlug].filter(
              service => service.selected
            );
          },
          estimatedRepairCost() {
            if (!this.activeCategorySlug) {
              return 0;
            }

            const selectedServices = this.selectedServices;

            if (selectedServices.length > 0) {
              return selectedServices
                .map(service => service.cost)
                .reduce((accumulator, cost) => {
                  return parseInt(accumulator) + parseInt(cost);
                });
            }

            return 0;
          }
        },
        data() {
          return {
            activeCategorySlug: "car",
            categories: {
              car: [
                { cost: 100, label: "Oil / Fluid Change", selected: false },
                { cost: 200, label: "Oil / Fluid Change", selected: false },
                { cost: 300, label: "Oil / Fluid Change", selected: false },
                { cost: 400, label: "Oil / Fluid Change", selected: false },
                { cost: 500, label: "Oil / Fluid Change", selected: false },
                { cost: 600, label: "Oil / Fluid Change", selected: false },
                { cost: 700, label: "Oil / Fluid Change", selected: false },
                { cost: 800, label: "Oil / Fluid Change", selected: false },
                { cost: 900, label: "Oil / Fluid Change", selected: false },
                { cost: 100, label: "Oil / Fluid Change", selected: false },
                { cost: 200, label: "Oil / Fluid Change", selected: false },
                { cost: 300, label: "Oil / Fluid Change", selected: false },
                { cost: 400, label: "Oil / Fluid Change", selected: false },
                { cost: 500, label: "Oil / Fluid Change", selected: false },
                { cost: 600, label: "Oil / Fluid Change", selected: false },
                { cost: 700, label: "Oil / Fluid Change", selected: false },
                { cost: 800, label: "Oil / Fluid Change", selected: false },
                { cost: 900, label: "Oil / Fluid Change", selected: false },
                { cost: 100, label: "Oil / Fluid Change", selected: false },
                { cost: 200, label: "Oil / Fluid Change", selected: false },
                { cost: 300, label: "Oil / Fluid Change", selected: false },
                { cost: 400, label: "Oil / Fluid Change", selected: false },
                { cost: 500, label: "Oil / Fluid Change", selected: false },
                { cost: 600, label: "Oil / Fluid Change", selected: false },
                { cost: 700, label: "Oil / Fluid Change", selected: false },
                { cost: 800, label: "Oil / Fluid Change", selected: false },
                { cost: 900, label: "Oil / Fluid Change", selected: false }
              ],
              truck: [
                { cost: 100, label: "Brake pads", selected: false },
                { cost: 200, label: "Brake pads", selected: false },
                { cost: 300, label: "Brake pads", selected: false },
                { cost: 400, label: "Brake pads", selected: false },
                { cost: 500, label: "Brake pads", selected: false },
                { cost: 600, label: "Brake pads", selected: false },
                { cost: 700, label: "Brake pads", selected: false },
                { cost: 800, label: "Brake pads", selected: false },
                { cost: 900, label: "Brake pads", selected: false }
              ],
              suv: [
                { cost: 100, label: "Alternator replacement", selected: false },
                { cost: 200, label: "Alternator replacement", selected: false },
                { cost: 300, label: "Alternator replacement", selected: false },
                { cost: 400, label: "Alternator replacement", selected: false },
                { cost: 500, label: "Alternator replacement", selected: false },
                { cost: 600, label: "Alternator replacement", selected: false },
                { cost: 700, label: "Alternator replacement", selected: false },
                { cost: 800, label: "Alternator replacement", selected: false },
                { cost: 900, label: "Alternator replacement", selected: false }
              ]
            },
            form: {
              name: "",
              email: "",
              phone: "",
              vehicle: "",
              estimate: "",
              notes: ""
            },
            isFormSubmitting: false,
            successfullySubmitted: false
          };
        },
        methods: {
          submitForm() {
            this.form.estimate = this.selectedServices.map(service => {
              return { cost: service.cost, label: service.label };
            });
            this.isFormSubmitting = true;
            axios
              .post("https://spazbot.com/prowrench", this.form)
              .then(function (response) {
                this.successfullySubmitted = true;
              })
              .catch(function (error) {
                console.error(error);
              })
              .finally(function () {
                this.isFormSubmitting = false;
              });
          }
        }
      });
    </script>
  </body>
</html>
