:root {
  --primary-color: #419a5a;
  --secondary-color: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: "roboto", sans-serif;
  color: #4a4a4a;
}

html body .container {
  max-width: 760px;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-brand-gray {
  background-color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color);
}

.font-sans {
  font-family: "roboto", sans-serif;
}

.font-display {
  font-family: "Aldrich", sans-serif;
}

.sidebar {
  min-width: 200px;
}
.sidebar ul li {
  background-color: #fff;
  font-family: "roboto", sans-serif;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background-color: rgba(65, 154, 90, 0.15);
  color: var(--primary-color);
}

.service-list {
  margin-bottom: 20px;
}

.service-list li {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.service-list li.active .label {
  text-decoration: underline;
}

.service-list li.active .price {
  color: var(--primary-color);
}

.service-list li .price {
  font-family: "Aldrich", sans-serif;
  font-size: 16px;
  color: #757575;
  margin-right: 6px;
  padding-top: 3px;
}

.service-list li .label {
  line-height: 1;
  font-size: 16px;
}

.service-list li .selected {
  margin-left: 3px;
  padding-top: 2px;
  width: 16px;
  height: 16px;
}

form label {
  margin-bottom: 25px;
  display: block;
  font-family: "Aldrich", sans-serif;
}

form label[for="comments"] {
  margin-bottom: 0;
}

form label small {
  color: #9d5a5a;
}

form input {
  width: 100%;
  display: block;
  padding: 5px;
  font-family: "roboto", sans-serif;
}

form button:disabled {
  background-color: #366844;
  color: #999;
  text-decoration: none !important;
  box-shadow: none !important;
}

form textarea {
  padding: 5px;
}

footer {
  background-color: #366844;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 8 8'%3E%3Cg fill='%23419a5a' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.hover-up:hover svg {
  margin-top: -5px;
}

.visibility-shadow {
  text-shadow: 0 0 3px #000;
}
